.ruka{
    cursor: pointer;
}

.sredina{
    text-align: center;
}

.desno{
    text-align: right;
}

.siroko{
    width: 100%;
}

.pocetna{
    min-height: 800px;
    max-height: 900px;
    overflow: auto;
   
}


.loading-spinner-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }